html {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    /*background: chocolate;*/
    margin: 10px auto;
    /*border: 50px;*/

}
h1{
    text-align: center;
    color: blue;
    text-shadow: 3px 3px 1px black;
    padding: 5px 0;

}
h2{
    text-align: center;
}
img{
    display: block;
    margin: 0 auto;
}
li{
    letter-spacing: 5px;
}
p{
    padding: 0 0 0 20px;
    margin: 20px auto;
    border: 1px solid black;
}
body{
    padding: 0 100px;
    background: chocolate;
}
